body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, rgb(0, 153, 255), rgb(0, 70, 128));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    background: rgba(18, 152, 201, 0.9);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 300px;
}

#display {
    width: 100%;
    font-size: 24px;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f4f4f4;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: linear-gradient(to bottom, #ffffff, #ffffff);
}

.operator {
    background: linear-gradient(to bottom, #006aff, #207dda);
}

button:hover {
    background: linear-gradient(to bottom, #e0e0e0, #d4d4d4);
}
